<div class="col">
    <div class="card">
        <img src="<%= site.img %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= site.name %></h5>
            <p class="card-text"><%= site.text %></p>
            <a href="/site_state" class="btn btn-primary">Перейти</a>
        </div>
    </div>
</div>